<footer class="footer mt-auto py-3" style="background-color: #808080;">
  <div class="container">
    <div class="row">
      <div class="col d-flex align-items-center justify-content-center">
        <img src="https://unsplash.com/apple-touch-icon.png" alt="Unsplash Logo" width="50" height="50">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a class="btn btn-link" href="#home">Base</a></li>
          <li class="list-inline-item"><a class="btn btn-link" href="#features">Features</a></li>
          <li class="list-inline-item"><a class="btn btn-link" href="#faqs">FAQs</a></li>
          <li class="list-inline-item"><a class="btn btn-link" href="#about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style>
.btn-link {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
}

.btn-link:hover {
  color: black;
  transform: scale(1.1);
}
</style>

