<!DOCtype html>
<html>
 <head>
   <title> My new website</title> 
 </head>
 <body>
   <center><h1>Mohamed Khafagy</h1></center>
   <img src="https://4b1e71f5-b215-40b4-ac11-178cf63ca859-00-3mziodtxzxd74.picard.replit.dev/static/nature.jpg" alt ="nature image" height = "320" >
   <center><h2>About me</h2>
   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
   <h2>Open positions</h2>
   <p>TODO= Show the jobs here</p>
    <button>Contact us</button></center>
   
  
 </body>
  
</html>